<ul class="layout-tabmenu-nav">
  <li>
    <a class="ripplelink tabmenuitem-link cursor-pointer"
       type="button"
       (click)="navigate('/home')"
       matTooltipPosition="right"
       matTooltip="Home">
      <clr-icon shape="home" size="25"></clr-icon>
      <span class="ink ripple-animate"
            style="height: 60px; width: 60px; top: -1px; left: 18px; pointer-events: none;"></span>
    </a>
  </li>

  <li *ngIf="jwtTokenService.isSiteEngineer() || jwtTokenService.isOMEngineer()">
    <a class="ripplelink tabmenuitem-link cursor-pointer"
       type="button"
       (click)="navigate('/sites-apps/audit/search')"
       matTooltipPosition="right"
       matTooltip="Nouvel audit">
      <clr-icon shape="form" size="25"></clr-icon>
    </a>
  </li>
  <li *ngIf="jwtTokenService.isSiteEngineer()
              || jwtTokenService.isOMEngineer()
              || jwtTokenService.isResponsible()">
    <a class="ripplelink tabmenuitem-link cursor-pointer"
       type="button"
       (click)="navigate('/sites-apps/audit')"
       matTooltipPosition="right"
       matTooltip="List des audits">
      <clr-icon shape="clipboard" size="25"></clr-icon>
    </a>
  </li>
  <li *ngIf="jwtTokenService.isSiteEngineer() || jwtTokenService.isOMEngineer()">
    <a class="ripplelink tabmenuitem-link cursor-pointer"
       type="button"
       (click)="navigate('/sites-apps/sites')"
       matTooltip="Liste des sites"
       matTooltipPosition="right">
      <clr-icon shape="map-marker" size="25"></clr-icon>
    </a>
  </li>

  <li *ngIf="jwtTokenService.isAdmin()">
    <a class="ripplelink tabmenuitem-link cursor-pointer"
       type="button"
       (click)="navigate('/admin/users')"
       matTooltip="List des utilisateurs"
       matTooltipPosition="right">
      <clr-icon shape="assign-user" size="25"></clr-icon>
    </a>
  </li>

  <li *ngIf="jwtTokenService.isResponsible()">
    <a class="ripplelink tabmenuitem-link cursor-pointer"
       type="button"
       (click)="navigate('/admin/affectations')"
       matTooltip="Planification des visites"
       matTooltipPosition="right">
      <clr-icon shape="calendar" size="25"></clr-icon>
    </a>
  </li>

  <li *ngIf="jwtTokenService.isResponsible()">
    <a class="ripplelink tabmenuitem-link cursor-pointer"
       type="button"
       (click)="navigate('/reporting')"
       matTooltip="Reporting"
       matTooltipPosition="right">
      <clr-icon shape="line-chart" size="25"></clr-icon>
    </a>
  </li>

  <img
    type="image/svg+xml"
    (click)="navigate('/home')"
    src="./././assets/images/logo.png"
    class="logo-style"
  />
</ul>
