<ul class="layout-tabmenu-nav">
  <li>
    <a class="ripplelink tabmenuitem-link" href="#"><i class="material-icons">home</i>
      <span class="ink ripple-animate"
            style="height: 60px; width: 60px; top: -1px; left: 18px; pointer-events: none;"></span></a>
  </li>
  <li>
    <a class="ripplelink tabmenuitem-link" href="#" matTooltip="Info about the action" matTooltipPosition="right"><i
      class="material-icons">inbox</i></a>
  </li>
  <li>
    <a class="ripplelink tabmenuitem-link" href="#"><i class="material-icons">event</i></a>
  </li>
  <li>
    <a class="ripplelink tabmenuitem-link" href="#"><i class="material-icons">insert_chart</i></a>
  </li>
  <li>
    <a class="ripplelink tabmenuitem-link" href="#"><i class="material-icons">people</i></a>
  </li>

  <img
    type="image/svg+xml"
    src="./././assets/images/djezzy.svg"
    class="logo-style"
  />
</ul>
