<mat-card class="top-bordred margin-20">
  <mat-card-header>
    <mat-card-title>
      Site N°: {{codeSite}} - <span class="badge badge-light" style="font-size: 11px;">{{typeSite}}</span>
      <mat-divider class="margin-top-15"></mat-divider>
    </mat-card-title>
  </mat-card-header>

  <form #addForm="ngForm">
    <div class="crud-container">
      <div style="display: flex">
        <mat-label class="label-style">
          Power Supply 48VDC Site Acceptance Document :
        </mat-label>
        <app-badge-status [label]="status.Conform" *ngIf="site.powerSupplyConform"></app-badge-status>
        <app-badge-status [label]="status.NoConform" *ngIf="!site.powerSupplyConform"></app-badge-status>
      </div>
      <hr/>
      <mat-form-field>
        <mat-label>{{'AUDIT_SITE.auditDate' | translate}}</mat-label>
        <input matInput [matDatepicker]="picker"
               [(ngModel)]="auditSite.auditDate"
               name="auditDate"
               (focus)="picker.open()"
               required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <ng-select
        [items]="typeAuditSiteList"
        bindValue="id"
        bindLabel="label"
        required="true"
        [(ngModel)]="auditSite.typeAuditSiteId"
        (change)="onChange($event)"
        name="typeAuditSiteId"
        [placeholder]="'AUDIT_SITE.typeAuditSiteId' | translate"
        appendTo="body"
        class="ng-select-search"
      >
      </ng-select>
      <mat-form-field>
        <mat-label>{{'AUDIT_SITE.siteCode' | translate}}</mat-label>
        <input
          matInput
          readonly="true"
          [(ngModel)]="auditSite.siteCode"
          name="siteCode"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'SITE.wilayaLabel' | translate}}</mat-label>
        <input
          matInput
          readonly="true"
          [(ngModel)]="site.wilayaLabel"
          name="wilayaLabel"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'SITE.userV1' | translate}}</mat-label>
        <input matInput [value]="'Ing Site: &ensp;&ensp;' +site.userV1"
               class="input-style"
               readonly>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'SITE.engineerOMV1' | translate}}</mat-label>
        <input matInput [value]="'Ing O&M: &ensp;&ensp;' +site.userOMV1"
               class="input-style"
               readonly>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'SITE.typeSiteId' | translate}}</mat-label>
        <input
          matInput
          readonly="true"
          [(ngModel)]="site.typeSiteId"
          name="typeSiteId"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'AUDIT_SITE.description' | translate}}</mat-label>
        <textarea matInput matInput
                  [(ngModel)]="auditSite.description"
                  name="description"></textarea>
      </mat-form-field>


    </div>
  </form>
</mat-card>
<div class="padding-bottom-25">
  <mat-toolbar class="action-tool-bar">
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <button
        type="button"
        mat-raised-button
        (click)="cancel()"
        style="margin-right: 10px"
        class="cancel-btn">
        <i class="material-icons" style="font-size: 18px;">close</i>
        {{'COMMUN.BTN_CANCEL' | translate}}
      </button>
      <button
        mat-raised-button
        type="button"
        (click)="saveData()"
        [disabled]="!addForm.form.valid"
        class="add-btn">
        <i class="material-icons" style="font-size: 18px;margin-right: -20% !important;width: 50px;">
          arrow_forward_ios
        </i>
        {{'COMMUN.START_BTN' | translate}}
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
