<mat-card class="top-bordred margin-20">
  <mat-card-header>
    <mat-card-title>Liste des sites :
      <mat-divider class="margin-top-15"></mat-divider>
    </mat-card-title>
  </mat-card-header>
  <mat-grid-list cols="8" rowHeight="60px" style="margin: 10px">
    <mat-grid-tile [colspan]="1">
      <button
        type="button"
        mat-raised-button
        class="add-btn"
        (click)="showAdd()"
        [disabled]="!isEngineer()"
        routerLinkActive="disabled">
        <i class="material-icons" style="font-size: 22px;">
          add_circle_outline
        </i>
        {{'COMMUN.BTN_NEW' | translate}}
      </button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <div
        style="border-left: 1px solid #e0e0e0;height: 40px;margin-right: 15px;"
      ></div>
      <mat-checkbox class="example-margin"
                    (change)="showMySites($event)">Mes sites
      </mat-checkbox>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <mat-form-field>
        <mat-label>{{'SITE.codeSite' | translate}}</mat-label>
        <input matInput [(ngModel)]="codeSite" name="codeSite">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2">
      <ng-select
        [items]="wilayaItems"
        bindValue="id"
        bindLabel="label"
        [multiple]="true"
        [(ngModel)]="wilayaFilterItems"
        name="wilayaFilterItems"
        placeholder="Wilaya"
        appendTo="body"
        style="width: 95%;margin-top: -3px"
      >
      </ng-select>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <button type="button" class="btn btn-danger-outline"
              matTooltip="Filter."
              (click)="filter()"
              style="margin-right: 10px">
        <clr-icon shape="filter"></clr-icon>
        Filter
      </button>

      <button type="button"
              class="btn btn-info-outline"
              (click)="reset()"
              matTooltip="Rénitialiser le formulaire.">
        <clr-icon shape="times"></clr-icon>
        Cancel
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="mat-elevation-z8" matSort>
    <div class="example-table-container">
      <mat-table
        [dataSource]="datasource"
        matSortActive="matSortActive"
        matSortDisableClear
        matSortDirection="matSortDirection"
        class="table">displayedColumns
        <!-- Index Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="id-column">
            No.
          </mat-header-cell>
          <mat-cell *matCellDef="let element"
                    [class]="disabledUploadBtn(element) ? 'id-column' : 'id-column green-row'">
            {{ element.id }}
          </mat-cell>
        </ng-container>

        <!-- Load the rest Columns -->
        <ng-container
          [matColumnDef]="column"
          *ngFor="let column of displayedColumns"
        >
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'SITE.' + column | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element" [class]="disabledUploadBtn(element) ? '' : 'green-row'"
                    [ngSwitch]="column">
            <div *ngSwitchCase="'dateD1'">
              {{ element[column] | date:'dd/MM/yyyy' }}
            </div>
            <div *ngSwitchCase="'userV1'">
              <span class="badge badge-light" style="text-transform: uppercase" *ngIf="element[column] !== '-'">
                {{ element[column] }}
              </span>
              <span *ngIf="element[column] === '-'"
                    style="font-size: 11px;font-style: italic">No Affected</span>
            </div>
            <div *ngSwitchCase="'userOMV1'">
              <span class="badge badge-djezzy" style="text-transform: uppercase" *ngIf="element[column] !== '-'">
                {{ element[column] }}
              </span>
              <span *ngIf="element[column] === '-'"
                    style="font-size: 11px;font-style: italic">No Affected</span>
            </div>
            <div *ngSwitchDefault>
              {{ element[column] }}
            </div>

          </mat-cell>
        </ng-container>

        <!-- action Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell
            *matHeaderCellDef
            class="action-column"
          ></mat-header-cell>
          <mat-cell *matCellDef="let element" class="action-column">
            <button type="button"
                    class="btn btn-icon btn-sm"
                    aria-label="home"
                    (click)="showEdit(element.id)"
                    [matTooltip]="'COMMUN.TOOLTIP_SHOW' | translate">
              <clr-icon shape="info-standard"></clr-icon>
            </button>

            <button type="button"
                    class="btn btn-danger-outline btn-icon btn-sm"
                    [disabled]="disabledUploadBtn(element)"
                    (click)="goToForms(element.id)">
              <clr-icon shape="pin"></clr-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>

      </mat-table>
      <mat-paginator
        [length]="resultsLength"
        [pageSizeOptions]="[10, 20, 100]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</mat-card>
