<form class="login" [formGroup]="planningForm" (ngSubmit)="create(planningForm.value)">
  <mat-card class="top-bordred margin-20">
    <mat-card-header>
      <mat-card-title>{{'affect_v1.title' | translate}}
        <mat-divider class="margin-top-15"></mat-divider>
      </mat-card-title>
      <div class="card-back-right-btn">
        <button type="button"
                (click)="backToList()"
                class="btn cancel-header-btn btn-icon btn-sm margin-left-15">
          <clr-icon shape="times"></clr-icon>
        </button>
      </div>
    </mat-card-header>


    <h5>Site</h5>
    <mat-divider></mat-divider>

    <div style="margin-left: 5px">
      <ng-select [items]="siteOb | async"
                 bindLabel="codeSite"
                 bindValue="id"
                 [loading]="siteLoading"
                 [typeahead]="siteInput$"
                 [trackByFn]="trackByFn"
                 placeholder="Code du site"
                 [minTermLength]="4"
                 typeToSearchText="Please enter 4 or more characters"
                 [hideSelected]='true'
                 formControlName="siteId"
                 (change)="onSelectSite($event)"
                 style="width: 95%">
        <ng-template ng-option-tmp let-item="item">
          {{item.codeSite}} - {{item.wilayaLabel}}
        </ng-template>
      </ng-select>
    </div>

    <h5>{{'affect_v1.engineer_site' | translate}}</h5>
    <mat-divider></mat-divider>

    <div style="margin-left: 10px">
      <ng-select
        [items]="userEngineerItems"
        bindValue="username"
        bindLabel="lastName"
        formControlName="engineerSiteV1"
        [placeholder]="'affect_v1.engineer_site' | translate"
        (change)="onSelectUser($event)"
        appendTo="body"
        style="width: 95%"
      >
        <ng-template ng-label-tmp let-item="item">
          {{item.fullName ? item.fullName : item.lastName + ' ' + item.firstName}}
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
          {{item.fullName ? item.fullName : item.lastName + ' ' + item.firstName}}
        </ng-template>
      </ng-select>
    </div>
    <mat-form-field style="margin-left: 10px">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [min]="sysDate"
             formControlName="engineerSiteDateV1"
             style="width: 97%"
             (focus)="picker.open()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <h5>{{'affect_v1.engineer_om' | translate}}</h5>
    <mat-divider></mat-divider>

    <div style="margin-left: 10px">
      <ng-select
        [items]="userOMItems"
        bindValue="username"
        bindLabel="lastName"
        formControlName="engineerOMV1"
        [placeholder]="'affect_v1.engineer_om' | translate"
        (change)="onSelectUserOM($event)"
        appendTo="body"
        style="width: 95%"
      >
        <ng-template ng-label-tmp let-item="item">
          {{item.fullName ? item.fullName : item.lastName + ' ' + item.firstName}}
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
          {{item.fullName ? item.fullName : item.lastName + ' ' + item.firstName}}
        </ng-template>
      </ng-select>
    </div>
    <mat-form-field style="margin-left: 10px">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker2" [min]="sysDate"
             formControlName="engineerOMDateV1"
             style="width: 97%"
             (focus)="picker2.open()">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </mat-card>
  <div class="padding-bottom-25">
    <mat-toolbar class="action-tool-bar">

      <mat-toolbar-row>
        <span class="example-spacer"></span>

        <button
          type="button"
          (click)="backToList()"
          mat-raised-button
          class="cancel-btn margin-right-15">
          <i class="material-icons">close</i>
          {{'COMMUN.BTN_CANCEL' | translate}}
        </button>

        <button
          mat-raised-button
          type="submit"
          [disabled]="!planningForm.valid"
          class="add-btn">
          <i class="material-icons">
            done
          </i>
          {{'COMMUN.BTN_VALIDATE' | translate}}
        </button>

      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</form>
