.mat-elevation-z8 {
  box-shadow: none;
  margin-top: 10px;
}

.mat-table {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-bottom: none;
}

/* mat-header-row {

} */

.mat-paginator {
  border: 1px solid #e0e0e0;
  border-top: none;
  background-color: #f9f9f9;
  /* background-image: url(../../../assets/images/cubes.png); */
}

.id-column {
  flex: 0 0 6%;
}

.action-column {
  max-width: 10%;
  text-align: center;
  border-left: 1px solid #e1e1e1;
}

.add-btn {
  background: #e10019;
  color: #fff;
  position: absolute;
  left: 0px;
}
