<mat-card class="top-bordred margin-20">

  <mat-card-header>
    <mat-card-title> {{'SITE.EDIT_title' | translate}}: {{id}}
      <mat-divider class="margin-top-15"></mat-divider>
    </mat-card-title>
    <div class="card-back-right-btn">
      <button type="button"
              (click)="showList()"
              class="btn cancel-header-btn btn-icon btn-sm margin-left-15">
        <clr-icon shape="times"></clr-icon>
      </button>
    </div>
  </mat-card-header>


  <div class="clr-row" style="margin: 20px;padding-top: 20px;">
    <div class="clr-col-12 clr-col-sm-12 clr-col-md-6 clr-col-lg-6">
      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.codeSite' | translate}}</mat-label>
        <input matInput [(ngModel)]="site.codeSite"
               name="codeSite"
               readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.nomSite' | translate}}</mat-label>
        <input matInput [(ngModel)]="site.nomSite"
               name="nomSite"
               readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.numSite' | translate}}</mat-label>
        <input matInput [(ngModel)]="site.numSite"
               name="numSite"
               readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.typeSiteLib' | translate}}</mat-label>
        <input matInput [(ngModel)]="site.typeSiteLib"
               name="typeSiteLib"
               readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.dateD1' | translate}}</mat-label>
        <input matInput [value]="getDateFormat(site.dateD1)"
               name="dateD1"
               readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.regionId' | translate}}</mat-label>
        <input matInput [(ngModel)]="site.regionId"
               name="regionId"
               readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.wilayaLabel' | translate}}</mat-label>
        <input matInput [(ngModel)]="site.wilayaLabel"
               name="wilayaLabel"
               readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.serviceDemandeur' | translate}}</mat-label>
        <input matInput [(ngModel)]="site.serviceDemandeur"
               name="serviceDemandeur"
               readonly>
      </mat-form-field>
    </div>
    <div class="clr-col-12 clr-col-sm-12 clr-col-md-6 clr-col-lg-6 flex-center" *ngIf="!planning">
      <img
        type="image/svg+xml"
        src="./././assets/images/planner.svg"
        width="75px"
        class="logo-style"
      />
      <br/>
      <h1 style="color: #cac8c8">No Planified.</h1>

    </div>
    <div class="clr-col-12 clr-col-sm-12 clr-col-md-6 clr-col-lg-6" *ngIf="planning">
      <mat-form-field class="example-full-width">
        <mat-label>{{'affect_v1.engineer_site' | translate}} Visite 1</mat-label>
        <input matInput
               [(ngModel)]="planning.engineerSiteV1"
               name="engineerSiteV1"
               readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.engineerSiteDateV1' | translate}} Visite 1</mat-label>
        <input matInput
               [value]="getDateFormat(planning.engineerSiteDateV1)"
               readonly>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.engineerOMV1' | translate}} Visite 1</mat-label>
        <input matInput
               [(ngModel)]="planning.engineerOMV1"
               name="engineerOMV1"
               readonly>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.engineerOMDateV1' | translate}} Visite 1</mat-label>
        <input matInput
               [value]="getDateFormat(planning.engineerOMDateV1)"
               readonly>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.engineerSiteV2' | translate}} Visite 2</mat-label>
        <input matInput
               [(ngModel)]="planning.engineerSiteV2"
               name="engineerSiteV2"
               readonly>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.engineerSiteDateV2' | translate}} Visite 2</mat-label>
        <input matInput
               [value]="getDateFormat(planning.engineerSiteDateV2)"
               readonly>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.engineerOMV2' | translate}} Visite 2</mat-label>
        <input matInput
               [(ngModel)]="planning.engineerOMV2"
               name="engineerOMV2"
               readonly>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.engineerOMDateV2' | translate}} Visite 2</mat-label>
        <input matInput
               [value]="getDateFormat(planning.engineerOMDateV2)"
               readonly>
      </mat-form-field>
    </div>
  </div>
</mat-card>
<div class="padding-bottom-25">
  <mat-toolbar class="action-tool-bar">
    <mat-toolbar-row>
      <button
        type="button"
        mat-raised-button
        (click)="showList()"
        class="close-btn">
        <i class="material-icons">close</i>
        {{'COMMUN.BTN_CLOSE' | translate}}
      </button>

      <span class="example-spacer"></span>

      <button type="button"
              class="btn btn-danger-outline btn-icon"
              [disabled]="disabledUploadBtn()"
              (click)="goToForms()">
        <clr-icon shape="pin"></clr-icon>
        Joindre des documents
      </button>

    </mat-toolbar-row>
  </mat-toolbar>
</div>
