<mat-card class="top-bordred margin-20">

  <mat-card-header>
    <mat-card-title> {{'SITE.EDIT_title' | translate}}: {{id}}</mat-card-title>
    <div class="card-back-right-btn">
      <button type="button"
              (click)="showList()"
              class="btn cancel-header-btn btn-icon btn-sm margin-left-15">
        <clr-icon shape="times"></clr-icon>
      </button>
    </div>
  </mat-card-header>


  <div class="clr-row" style="margin: 20px;padding-top: 20px;border-top: 1px solid #e9e9e9">
    <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-12">
      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.codeSite' | translate}}</mat-label>
        <input matInput [(ngModel)]="site.codeSite"
               name="codeSite"
               readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.numSite' | translate}}</mat-label>
        <input matInput [(ngModel)]="site.numSite"
               name="numSite"
               readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.typeSiteLib' | translate}}</mat-label>
        <input matInput [(ngModel)]="site.typeSiteLib"
               name="typeSiteLib"
               readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.dateD1' | translate}}</mat-label>
        <input matInput [value]="getDateFormat(site.dateD1)"
               name="dateD1"
               readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.regionId' | translate}}</mat-label>
        <input matInput [(ngModel)]="site.regionId"
               name="regionId"
               readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.wilayaLabel' | translate}}</mat-label>
        <input matInput [(ngModel)]="site.wilayaLabel"
               name="wilayaLabel"
               readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.prioriteRadio' | translate}}</mat-label>
        <input matInput [(ngModel)]="site.prioriteRadio"
               name="prioriteRadio"
               readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>{{'SITE.serviceDemandeur' | translate}}</mat-label>
        <input matInput [(ngModel)]="site.serviceDemandeur"
               name="serviceDemandeur"
               readonly>
      </mat-form-field>
    </div>
  </div>
</mat-card>
<div class="padding-bottom-25">
  <mat-toolbar class="action-tool-bar">
    <mat-toolbar-row>
      <button
        type="button"
        mat-raised-button
        (click)="showList()"
        class="close-btn">
        <i class="material-icons">close</i>
        {{'COMMUN.BTN_CLOSE' | translate}}
      </button>

      <span class="example-spacer"></span>

    </mat-toolbar-row>
  </mat-toolbar>
</div>
