<mat-card style="margin: 20px;" class="top-bordred">
  <mat-card-header>
    <mat-card-title>Liste des audits :
      <mat-divider class="margin-top-15"></mat-divider>
    </mat-card-title>
  </mat-card-header>
  <mat-grid-list cols="4" rowHeight="60px">
    <mat-grid-tile [colspan]="1">
      <button
        type="button"
        mat-raised-button
        class="add-btn"
        *ngIf="jwtTokenService.isSiteEngineer()"
        (click)="showAdd()"
        routerLinkActive="disabled"
      >
        <i class="material-icons" style="font-size: 22px;">
          add_circle_outline
        </i>
        Nouveau
      </button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3">
      <div
        style="border-left: 1px solid #e0e0e0;height: 40px;margin-right: 15px;"
      ></div>
      <mat-form-field style="width: 100%;">
        <mat-icon matPrefix style="margin-right: 10px;color: #888;"
        >search
        </mat-icon
        >
        <input
          matInput
          placeholder="Filter..."
        />
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="mat-elevation-z8" matSort>
    <div class="example-table-container">
      <mat-table
        [dataSource]="datasource"
        matSortActive="matSortActive"
        matSortDisableClear
        matSortDirection="matSortDirection">

        <ng-container matColumnDef="id" sticky>
          <mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="id-column">
            No.
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="id-column">
            {{ element.id }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="typeAuditSiteLabel">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header> {{'AUDIT_SITE.typeAuditSiteLabel' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.typeAuditSiteLabel}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="auditDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{'AUDIT_SITE.auditDate' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.auditDate | date:'dd/MM/yyyy'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="siteCode">
          <mat-header-cell *matHeaderCellDef>  Site </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.siteCode}} - {{element.wilayaLabel}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="siteUserV1">
          <mat-header-cell *matHeaderCellDef> Visite 1</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.siteUserV1}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="siteUserV2">
          <mat-header-cell *matHeaderCellDef> Visite 2</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.siteUserV2}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Type de site</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.typeSiteId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="currentSatusLabel">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header> {{'AUDIT_SITE.currentSatusLabel' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span [class]="element.currentSatusStyleCSS">
              {{element.currentSatusDescription}}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action" stickyEnd>
          <mat-header-cell
            *matHeaderCellDef
            class="action-column"
          ></mat-header-cell>
          <mat-cell *matCellDef="let element" class="action-column">
            <button type="button"
                    class="btn btn-icon btn-sm"
                    (click)="showEdit(element.id)"
                    style="margin-left: 7px"
                    [matTooltip]="'COMMUN.TOOLTIP_SHOW' | translate">
              <clr-icon shape="info-standard"></clr-icon>
            </button>

            <button type="button"
                    class="btn btn-success-outline btn-icon btn-sm"
                    [disabled]="!disabledValidateBtn(element)"
                    *ngIf="jwtTokenService.isSiteEngineer() || jwtTokenService.isOMEngineer()"
                    (click)="goToValidate(element.id)"
                    aria-label="home"
                    [matTooltip]="'COMMUN.BTN_VALIDATE' | translate">
              <clr-icon shape="check"></clr-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu"
                    matTooltip="Expoter PDF / XLS"
                    aria-label="Example icon-button with a menu">
              <mat-icon style="color: #b9b9b9">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item
                      type="button"
                      (click)="exportToPdf(element)">
                <span style="margin-left: 5px">Exporter PDF</span>
              </button>
              <button mat-menu-item
                      type="button"
                      (click)="exportToExcel(element)">
                <span style="margin-left: 5px">Exporter XLS</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <app-empty-messages *ngIf="emptyData"></app-empty-messages>

      <mat-paginator
        [length]="resultsLength"
        pageSize="10"
        [pageSizeOptions]="[5, 10, 20, 100]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</mat-card>
