<div class="chart-card" style="width: 95%">
  <div>
    <ng-select
      [items]="cityItems"
      bindLabel="label"
      required
      multiple="true"
      [(ngModel)]="selectedCityItems"
      [closeOnSelect]="false"
      placeholder="Wilaya.."
      appendTo="body"
      style="width: 95%;padding: 5px"
    >
    </ng-select>
  </div>
  <mat-form-field style="margin: 5px;width: 47%">
    <mat-label>Date du</mat-label>
    <input matInput
           [matDatepicker]="picker1"
           [(ngModel)]="fromDate"
           name="fromDate"
           [max]="toDate">
    <button mat-button *ngIf="fromDate" matSuffix mat-icon-button aria-label="Clear" (click)="fromDate=null">
      <mat-icon>close</mat-icon>
    </button>
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>

  </mat-form-field>

  <mat-form-field style="margin: 5px;width: 47%">
    <mat-label>Au</mat-label>
    <input matInput
           [matDatepicker]="picker2"
           [(ngModel)]="toDate"
           name="toDate"
           [min]="fromDate">
    <button mat-button *ngIf="toDate" matSuffix mat-icon-button aria-label="Clear" (click)="toDate=null">
      <mat-icon>close</mat-icon>
    </button>
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <div style="margin-top: 10px">

    <button
      type="button"
      (click)="exportToPDF()"
      style="margin-right: 10px"
      class="btn btn-danger-outline btn-icon no-shadow">
      <clr-icon shape="printer"></clr-icon>
      PDF
    </button>
    <ng2-pdfjs-viewer #externalPdfViewer
                      [externalWindow]="true"
                      pagemode="bookmarks"
                      [download]="true">
    </ng2-pdfjs-viewer>

    <button class="btn btn-success-outline"
            (click)="exportToExcel()"
            style="margin-right: 10px">
      <clr-icon shape="printer"></clr-icon>
      EXCEL
    </button>
  </div>
</div>
