<mat-card class="top-bordred margin-20">
  <mat-card-header>
    <mat-card-title>
      {{'HOME.title' | translate}} :
      <mat-divider class="margin-top-15"></mat-divider>
    </mat-card-title>
  </mat-card-header>
  <div class="p-grid">

    <div class="p-col chart-card">
      <div class="chart-card-title">
        {{'HOME.CONFORM_NO_CONFORM' | translate}}
      </div>
      <ngx-charts-advanced-pie-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="dataConformedPie"
        [title]="'HOME.CONFORM_NO_CONFORM' | translate"
      >
      </ngx-charts-advanced-pie-chart>
    </div>

    <div class="p-col chart-card">
      <div class="chart-card-title">
        {{'HOME.AUDITED_NO_AUDITED' | translate}}
      </div>
      <ngx-charts-advanced-pie-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="dataSiteBar"
        [title]="'HOME.AUDITED_NO_AUDITED' | translate"
      >
      </ngx-charts-advanced-pie-chart>
    </div>

    <div class="p-col chart-card">
      <div class="chart-card-title">
        {{'HOME.SITE_REGION' | translate}}
      </div>
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="siteRegionBars"
        xAxis="true"
        yAxis="true"
        legend="true"
        legendTitle=""
        legendPosition="bellow"
        showXAxisLabel="true"
        showYAxisLabel="true">
      </ngx-charts-bar-vertical>
    </div>
    <div class="p-col chart-card">
      <div class="chart-card-title">
        {{'HOME.AUDIT_VISIT' | translate}}
      </div>
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="siteVisitPie"
        xAxis="true"
        yAxis="true"
        legend="true"
        legendTitle=""
        legendPosition="bellow"
        showXAxisLabel="true"
        showYAxisLabel="true">
      </ngx-charts-bar-vertical>
    </div>

  </div>

</mat-card>
