<mat-card class="top-bordred margin-20">
  <mat-card-header>
    <mat-card-title> Power Supply Forms:
      <span class="badge badge-light" style="margin-left: 10px">Site N°: {{siteCode}}</span>
      <mat-divider class="margin-top-15"></mat-divider>
    </mat-card-title>
  </mat-card-header>
  <div class="flex-center">
    <img
      type="image/svg+xml"
      src="./././assets/images/planner.svg"
      width="90px"
      class="logo-style"
    />
    <br/>
    <h1 style="color: #cac8c8">{{message}}.</h1>
  </div>
</mat-card>
