<form #addForm="ngForm">
  <mat-grid-list cols="8" rowHeight="60px">
    <mat-grid-tile [colspan]="2">
      <mat-form-field>
        <mat-label>{{'SITE.codeSite' | translate}}</mat-label>
        <input matInput type="text" [(ngModel)]="searchSite.codeSite" name="codeSite">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <mat-form-field>
        <mat-label>{{'SITE.numSite' | translate}}</mat-label>
        <input matInput type="text" [(ngModel)]="searchSite.numSite" name="numSite">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <mat-form-field>
        <mat-label>{{'SITE.nomSite' | translate}}</mat-label>
        <input matInput type="text" [(ngModel)]="searchSite.nomSite" name="nomSite">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <mat-form-field>
        <mat-label>{{'SITE.dateD1' | translate}}</mat-label>
        <input matInput [(ngModel)]="searchSite.dateD1" name="dateD1" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2">
      <ng-select
        [items]="regionOptions"
        bindValue="id"
        bindLabel="label"
        [(ngModel)]="searchSite.regionId"
        name="regionId"
        [placeholder]="'SITE.regionId' | translate"
        appendTo="body"
        (clear)="onClearRegion($event)"
        (change)="onChangeRegion($event)"
        class="ng-select-search"
      >
      </ng-select>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <ng-select
        [items]="wilayaOptions"
        bindValue="id"
        bindLabel="label"
        [(ngModel)]="searchSite.wilayaId"
        name="wilayaId"
        [placeholder]="'SITE.wilayaLabel' | translate"
        appendTo="body"
        class="ng-select-search"
      >
      </ng-select>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <ng-select
        [items]="typeSiteOptions"
        bindValue="id"
        bindLabel="typeSiteLib"
        [(ngModel)]="searchSite.typeSiteId"
        name="typeSiteId"
        [placeholder]="'SITE.typeSiteId' | translate"
        appendTo="body"
        class="ng-select-search"
      >
      </ng-select>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" style="float: right">
      <button
        mat-raised-button
        type="button"
        class="add-btn no-shadow red-border"
        matTooltip="Filter."
        (click)="filter()"
        style="margin-right: 10px">
        <i class="pi pi-filter"></i>
        Filter
      </button>
      <button
        type="button"
        mat-raised-button
        (click)="reset()"
        matTooltip="Rénitialiser le formulaire."
        class="cancel-btn no-shadow silver-border">
        <i class="pi pi-undo"></i>
        Cancel
      </button>
      <button
        type="button"
        mat-raised-button
        (click)="showAdvancedSearch()"
        *ngIf="showBtn"
        style="margin-left: 10px"
        matTooltip="Recherche simple."
        class="cancel-btn no-shadow silver-border">
        <i class="material-icons" style="font-size: 22px;">
          arrow_drop_up
        </i>
      </button>
    </mat-grid-tile>
  </mat-grid-list>

</form>
