<mat-toolbar class="app-toolbar">
  <button mat-icon-button
          class="sidebar-logout-btn"
          type="button"
          routerLink="/home">
       <span class="material-icons" style="color: #fafafa;font-size: 36px">
          keyboard_arrow_left
        </span>
  </button>
  <i class="material-icons" style="margin: 10px;color: #fafafa">
    contacts
  </i>

  <h1 class="example-app-name"> User Profile.</h1>

</mat-toolbar>
<mat-divider></mat-divider>
<mat-card class="top-bordred margin-20">
  <mat-card-header>
    <mat-card-title>{{ 'users.title' |translate }} :
      <mat-divider class="margin-top-15"></mat-divider>
    </mat-card-title>
    <div class="card-back-right-btn">
      <button type="button"
              routerLink="/home"
              class="btn cancel-header-btn btn-icon btn-sm margin-left-15">
        <clr-icon shape="times"></clr-icon>
      </button>
    </div>
  </mat-card-header>
  <div class="clr-row" style="margin: 20px;padding-top: 20px;">
    <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-12"
         style="padding-right: 10px">
      <div class="crud-container">
        <mat-form-field>
          <mat-label>Matricule</mat-label>
          <input
            matInput
            type="input"
            readonly="true"
            [(ngModel)]="user.matricule"
            name="matricule"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input
            matInput
            type="input"
            readonly="true"
            [(ngModel)]="user.fullName"
            name="name"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'users.email' | translate}}</mat-label>
          <input
            matInput
            type="input"
            readonly="true"
            [(ngModel)]="user.email"
            name="email"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Titre</mat-label>
          <input
            matInput
            type="input"
            readonly="true"
            [(ngModel)]="user.title"
            name="title"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Téléphone</mat-label>
          <input
            matInput
            type="input"
            readonly="true"
            [(ngModel)]="user.phone"
            name="mobile"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Département</mat-label>
          <input
            matInput
            type="input"
            readonly="true"
            [(ngModel)]="user.department"
            name="department"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Adresse</mat-label>
          <input
            matInput
            type="input"
            readonly="true"
            [(ngModel)]="user.address"
            name="address"
          />
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-card>

