<div
  class="example-container flexbox-parent"
  [class.example-is-mobile]="mobileQuery.matches"
>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()" class="sidebar-toggle-btn">
      <mat-icon>menu</mat-icon>
    </button>

    <i class="material-icons mat-brand-style">
      settings_input_antenna
    </i>

    <h1 class="example-app-name"> Site Transfert [ D9 ].</h1>

    <div _ngcontent-jvx-c494="" class="flex-spacer"></div>

    <div style="position: absolute;right: 15px;">

      <button mat-icon-button
              class="sidebar-logout-btn"
              type="button"
              routerLink="/helps">
       <span class="material-icons">
          help_outline
        </span>
      </button>

      <!--      <button-->
      <!--        mat-icon-button-->
      <!--        class="sidebar-profile-btn"-->
      <!--        [matMenuTriggerFor]="langMenu"-->
      <!--      >-->
      <!--        <i class="material-icons" style="font-size: 20px">-->
      <!--          language-->
      <!--        </i>-->
      <!--        {{ defaultLang }}-->
      <!--        <clr-icon shape="caret" style="transform: rotate(180deg);"></clr-icon>-->
      <!--      </button>-->

      <!--      <mat-menu #langMenu="matMenu">-->
      <!--        <button mat-menu-item type="button" (click)="switchToFrensh()">-->
      <!--          Français-->
      <!--        </button>-->
      <!--        <mat-divider></mat-divider>-->
      <!--        <button mat-menu-item type="button" (click)="switchToEnglish()">-->
      <!--          English-->
      <!--        </button>-->
      <!--      </mat-menu>-->

      <button
        mat-icon-button
        class="sidebar-profile-btn"
        [matMenuTriggerFor]="menu"
      >
        {{fullName}}
        <mat-icon class="material-icons">portrait</mat-icon>
        <clr-icon shape="caret" style="transform: rotate(180deg);margin: 0px 10px 0px 15px"></clr-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item style="cursor: pointer !important;">
          {{fullName}}
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item
                type="button"
                (click)="goToProfile('profile')">
          Mon Profil
        </button>
      </mat-menu>

      <button mat-icon-button
              class="sidebar-logout-btn"
              type="button"
              (click)="onLogout()">
        <i class="material-icons">
          power_settings_new
        </i>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container
    class="layout-sidenav-container flexbox-item fill-area content flexbox-item-grow"
    [style.marginTop.px]="mobileQuery.matches ? 50 : 0"
    isOpen="true"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="50"
      opened="mobileQuery ? 'false' : 'true'"
      style="height: 100%;"
    >
      <app-left-menu></app-left-menu>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar>
        <mat-toolbar-row>
          <button mat-button class="btn-menu"
                  type="button" (click)="navigate('home')">Home
          </button>
          <button mat-button class="btn-menu" type="button"
                  *ngIf="jwtTokenService.isSiteEngineer()
                        || jwtTokenService.isOMEngineer()
                        || jwtTokenService.isResponsible()"
                  routerLinkActive="active"
                  (click)="navigate('sites-apps/audit')">
            {{ 'MENU.SITE_AUDIT' | translate }}
          </button>
          <button mat-button class="btn-menu" type="button" (click)="navigate('sites-apps/sites')"
                  *ngIf="jwtTokenService.isSiteEngineer() || jwtTokenService.isOMEngineer()"
                  routerLinkActive="active-link">
            {{ 'MENU.SITE' | translate }}
          </button>
          <button mat-button class="btn-menu" type="button" (click)="navigate('sites-apps/typeAudit')"
                  *ngIf="jwtTokenService.isAdmin()">
            {{ 'MENU.TYPE_AUDIT' | translate }}
          </button>
          <button mat-button class="btn-menu" [matMenuTriggerFor]="catMenu"
                  *ngIf="jwtTokenService.isAdmin()">
            {{ 'MENU.CATEGORIES' | translate }}
            <clr-icon shape="caret" style="transform: rotate(180deg);"></clr-icon>
          </button>
          <mat-menu #catMenu="matMenu">
            <button mat-menu-item type="button"
                    (click)="navigate('referencial/categories')">
              {{ 'MENU.CATEGORIES' | translate }}
            </button>
            <button mat-menu-item type="button" (click)="navigate('referencial/sub-categories')">
              {{ 'MENU.SUB_CATEGORIES' | translate }}
            </button>
          </mat-menu>

          <button
            mat-button
            class="btn-menu"
            *ngIf="jwtTokenService.isAdmin()"
            [matMenuTriggerFor]="lvMenu">
            {{ 'MENU.DECISION' | translate }}
            <clr-icon shape="caret" style="transform: rotate(180deg);"></clr-icon>
          </button>
          <mat-menu #lvMenu="matMenu">
            <button mat-menu-item type="button" (click)="navigate('referencial/decisionTypes')">
              {{ 'MENU.DECISION_TYPE' | translate }}
            </button>
            <button mat-menu-item type="button" (click)="navigate('referencial/decisions')">
              {{ 'MENU.DECISION' | translate }}
            </button>
          </mat-menu>

          <button mat-button
                  class="btn-menu" type="button"
                  *ngIf="jwtTokenService.isAdmin()"
                  (click)="navigate('referencial/status')">
            {{ 'MENU.STATUS' | translate }}
          </button>
          <span class="example-spacer"></span>


          <button mat-button
                  style="margin-right: 5px"
                  class="btn-menu" type="button"
                  (click)="onDownloadTemplates()">
            Template D9
            <clr-icon shape="download" size="18" style="margin: 5px"></clr-icon>
          </button>

          <button mat-button
                  style="margin-right: 80px"
                  class="btn-menu" type="button"
                  (click)="navigate('admin/affectations/my-programme')"
                  [disabled]="!jwtTokenService.isSiteEngineer()">
            <clr-icon shape="calendar" size="23"></clr-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>

      <router-outlet>
      </router-outlet>

      <app-footer></app-footer>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
