<div class="exception-body notfound">
  <div class="exception-content">
    <div class="exception-panel">
      <div class="exception-panel-content">

        <div class="tag">
          {{status_error}}
        </div>
        <h1>
          {{title_error}}
        </h1>
        <div class="seperator"></div>
        <p>
          {{msg_error}}
        </p>
        <div class="ant-result-extra">
          <button class="btn btn-danger"
                  type="button"
                  routerLink="/apps/home">
            <clr-icon shape="caret" style="transform: rotate(270deg);margin-top: -2px"></clr-icon>
            BACK TO HOME
          </button>
        </div>
      </div>
      <div class="exception-footer">
        <a href="http://www.djezzy.dz/" class="mat-footer-link" target="_blank">
          <span style="color: #E20613;font-weight: 500;">Djezzy </span> | {{'COMMUN.FOOTER_TXT' | translate}} |
          <span style="color: #E20613;font-weight: 500"> Apps </span>
          &copy; 2020.
        </a>
      </div>
    </div>
  </div>

</div>
