
<form class="login" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">

  <div class="Aligner">

    <mat-card style="width: 35%;border: 1px solid #e0e0e0;border-top: 3px solid #F10034;margin-top: 5% !important;z-index: 10"
              class="no-shadow">

      <mat-card-header class="flex-center" style="border-color: #e8e8e8">
        <mat-card-title style="color: #757575;text-align: center">
          <img src="./././assets/images/logo.png" width="80px" class="logo-style login-logo"/>
          <br/>
          <br/>
          <span style="color: #5a657c;margin-top: 20px">Site Transfert (D9)</span>
        </mat-card-title>
      </mat-card-header>

      <div style="margin: 40px 0px 40px 30px">
        <mat-form-field>
          <mat-label>Nom d'utlisateur</mat-label>
          <input matInput
                 formControlName="username"
                 placeholder="Nom d'utlisateur ">
          <mat-icon matSuffix style="color: #909090">person</mat-icon>
          <mat-error
            *ngIf="!loginForm.controls['username'].valid &&
                    loginForm.controls['username'].dirty">
            Minimum 4 caractère.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input matInput formControlName="password"
                 [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix
                  type="button"
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon style="color: #909090">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error
            *ngIf="!loginForm.controls['password'].valid &&
                    loginForm.controls['password'].dirty">
            Minimum 4 caractère.
          </mat-error>
        </mat-form-field>
        <button type="submit"
                class="btn btn-danger btn-icon"
                style="width: 95%;height: 42px;margin-top: 50px;max-width: 95%">
          Login
        </button>
      </div>
      <mat-card-actions style="padding-bottom:15px;text-align: center;color: #848484">
        <span style="color: #E20613;font-weight: 500;">Djezzy </span> | {{'COMMUN.FOOTER_TXT' | translate}} |
        <span style="color: #E20613;font-weight: 500"> Apps </span>
        &copy; 2020.
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="desert"></div>
</form>
