<mat-card style="margin: 20px;" class="top-bordred">
  <mat-card-header>
    <mat-card-title>Liste des audits :
      <mat-divider class="margin-top-15"></mat-divider>
    </mat-card-title>
  </mat-card-header>
  <mat-grid-list cols="4" rowHeight="60px">

    <mat-grid-tile [colspan]="1">
      <button
        type="button"
        mat-raised-button
        class="add-btn"
        (click)="showAdd()"
        routerLinkActive="disabled">
        <i class="material-icons" style="font-size: 22px;">
          add_circle_outline
        </i>
        {{'COMMUN.BTN_NEW' | translate}}
      </button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3">
      <div
        style="border-left: 1px solid #e0e0e0;height: 40px;margin-right: 15px;"
      ></div>
      <mat-form-field style="width: 100%;">
        <mat-icon matPrefix style="margin-right: 10px;color: #888;font-size: 20px">filter_list</mat-icon>
        <mat-label>{{'COMMUN.PLACEHOLDER_SEARCH' | translate}}</mat-label>
        <input
          matInput
          [(ngModel)]="query"
          name="query">

        <button mat-button matSuffix mat-icon-button aria-label="Clear"
                *ngIf="query"
                type="button"
                class="btn-search-reset"
                (click)="resetFilter()"
                style="margin: 5px;">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-button matSuffix mat-icon-button
                type="button"
                (click)="applyFilter()"
                class="btn-search">
          <mat-icon class="btn-search-icon">search</mat-icon>
        </button>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="mat-elevation-z8" matSort>
    <div class="example-table-container">
      <mat-table
        [dataSource]="datasource"
        matSortActive="matSortActive"
        matSortDisableClear
        matSortDirection="matSortDirection">

        <ng-container matColumnDef="id">
          <mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="id-column">
            No.
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="id-column">
            {{ element.id }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="matricule">
          <mat-header-cell *matHeaderCellDef style="flex: 0 0 10%;"> Matricule</mat-header-cell>
          <mat-cell *matCellDef="let element" style="flex: 0 0 10%;"> {{element.matricule}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef style="flex: 0 0 10%;"> Nom d'utilisateur</mat-header-cell>
          <mat-cell *matCellDef="let element" style="flex: 0 0 10%;"> {{element.username}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fullName">
          <mat-header-cell *matHeaderCellDef> Nom & Prénom</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.fullName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef> Téléphone</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="roles">
          <mat-header-cell *matHeaderCellDef> Role</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{getRoles(element.roleSet)}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="enabled">
          <mat-header-cell *matHeaderCellDef style="flex: 0 0 10%;"> {{'users.enabled' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let element" style="flex: 0 0 10%;">
            <span class="badge badge-success" *ngIf="element.enabled">{{'COMMUN.enable' | translate}} </span>
            <span class="badge badge-secondary" *ngIf="!element.enabled">{{'COMMUN.disable' | translate}} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell
            *matHeaderCellDef
            class="action-column"
          ></mat-header-cell>
          <mat-cell *matCellDef="let element" class="action-column">
            <button type="button"
                    class="btn btn-icon btn-sm"
                    (click)="goToEdit(element.username)"
                    style="margin-left: 7px"
                    [matTooltip]="'COMMUN.TOOLTIP_SHOW' | translate">
              <clr-icon shape="info-standard"></clr-icon>
            </button>

            <button type="button"
                    *ngIf="element.enabled"
                    class="btn btn-danger-outline btn-icon btn-sm"
                    (click)="disabledUser(element)"
                    matTooltip="Désactiver">
              <clr-icon shape="trash"></clr-icon>
            </button>
            <button type="button"
                    *ngIf="!element.enabled"
                    class="btn btn-success-outline btn-icon btn-sm"
                    (click)="enabledUser(element)"
                    matTooltip="Activer">
              <clr-icon shape="check"></clr-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <app-empty-messages *ngIf="emptyData"></app-empty-messages>

      <mat-paginator
        [length]="resultsLength"
        pageSize="10"
        [pageSizeOptions]="[5, 10, 20, 100]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>

</mat-card>
