/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body a {
  text-decoration: none;
}

.margin-20 {
  margin: 20px;
}

.mat-tooltip {
  font-size: 13px !important;
  padding: 10px;
}

.mat-form-field {
  font-size: 14px;
  width: 95%;
}

.mat-card-header {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  color: #E20613 !important;
}

.mat-card {
  border-radius: 0px 0px 4px 4px !important;
  border-top: 2px solid #afafaf;
  margin-top: 55px !important;
  margin-bottom: 50px !important;
}

.mat-raised-button {
  overflow: hidden;
  background-color: #1E88E5;
  color: #ffffff;
  height: 2.5em;
  font-size: 14px;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  padding: 0 1em;
  border: 0 none;
  -moz-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.mat-badge-medium.mat-badge-after .mat-badge-content {
  right: -32px;
  border-radius: 4px;
  background: #00da8a;
  border: 1px solid #00da8a;
  color: #ffffff;
}

.add-btn {
  background: #e10019;
  color: #fff;
  position: absolute;
  left: 0px;
}

.add-btn:hover {
  background-color: #C62828;
}

.cancel-btn {
  background: #eaeaea;
  color: #0e0e0e;
  position: absolute;
  left: 0px;
}

.cancel-btn:hover {
  background-color: #afafaf;
}


.close-btn {
  background: #4e4e4e;
  color: #fff;
  position: absolute;
  left: 0px;
}

.close-btn:hover {
  background-color: #777777;
}

.card-back-icon {
  color: #848484;
  font-size: 26px;
  padding-left: 5px;
}

.mat-card-header .mat-card-title {
  font-size: 17px;
  color: #5d5d5d;
}

.crud-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  font-size: 14px;
  padding: 10px 0px 0px 10px !important;
}

.mat-card-actions {
  padding: 20px 10px;
}

body .ui-button {
  background-color: #E20613;
  border-color: #E20613;
}

body .ui-button:hover {
  background-color: #C62828 !important;
  border-color: #C62828 !important;
}

.ui-toast {
  width: 380px !important;
}

body .ui-toast .ui-toast-message.ui-toast-message-success {
  background-color: #DFF0D1;
  border-color: #C7DFB2;
  color: #799760;
}

body .ui-toast .ui-toast-message.ui-toast-message-success .ui-toast-close-icon {
  color: #799760;
  margin-top: 10px;
}

body .ui-toast .ui-toast-close-icon {
  margin-top: 8px;
  margin-right: 8px;
  padding-left: 15px;
}

body .ui-toast .ui-toast-message.ui-toast-message-error {
  background-color: #FCE1E1 !important;
  border-color: #F8C2C2 !important;
  color: #943F3F !important;
}


body .ui-toast .ui-toast-message.ui-toast-message-warn {
  background-color: #F8EED9 !important;
  border-color: #F5E5C5 !important;
  color: #A37518 !important;
}

body .ui-toast .ui-toast-message.ui-toast-message-info {
  background-color: #D9EAF0 !important;
  border-color: #C3DFE7 !important;
  color: #467481 !important;
}

.ui-toast .ui-toast-message-text-content {
  padding-top: 7px;
}

.ui-toast .ui-toast-icon {
  margin-top: 7px;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background: #E20613;
}

/* Loader Style*/
.splash-logo {
  left: 50%;
  top: 50%;
  margin-left: -26px;
  margin-top: -30px;
  z-index: 102;
  position: absolute;
  width: 54px;
}

.splash-loader,
.splash-loader:before,
.splash-loader:after {
  left: 50%;
  top: 50%;
  margin-left: -45px;
  margin-top: -45px;
  position: absolute;
  vertical-align: middle;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  z-index: 101;
}

.splash-loader:before {
  content: "";
  animation: bounce 1.5s infinite;
}

.splash-loader:after {
  content: "";
  animation: bounce 1.5s -0.4s infinite;
}

splash-screen,
.splash-screen:before,
.splash-screen:after {
  background: #504d4d;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0.8;
}

.splash-screen:before {
  content: "";
  animation: bounce 1.5s infinite;
}

.splash-screen:after {
  content: "";
  animation: bounce 1.5s -0.4s infinite;
}

.mat-elevation-z8 {
  box-shadow: none;
  margin-top: 10px;
}

.mat-table {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-bottom: none;
}


.mat-row:hover {
  background: #f3f6f8;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  color: #484747;
}

.mat-calendar-body-selected {
  background: #E20613;
  border-color: #E20613;
}

/* mat-header-row {

} */

.mat-paginator {
  border: 1px solid #e0e0e0;
  border-top: none;
  background: #fafafa;
}

.id-column {
  flex: 0 0 6%;
}

.action-column {
  max-width: 10%;
  text-align: center;
  border-left: 1px solid #e1e1e1;
}

.add-btn {
  background: #e10019;
  color: #fff;
  position: absolute;
  left: 0px;
}

.no-shadow {
  box-shadow: none !important;
}

.silver-border {
  border: 1px solid #e0e0e0 !important;
}

.red-border {
  border: 1px solid #E20613 !important;
}

.add-btn:hover {
  background-color: #C62828;
}

.example-spacer {
  flex: 1 1 auto;
}

.adv-toolbar {
  background: #fff !important;
  border-top: 1px solid #e0e0e0;
}

.ng-select .ng-select-container {
  font-size: 14px !important;
}

.ng-select .ng-select-container {
  min-height: 43.5px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  font-size: 14px;
}

.ng-dropdown-panel.ng-select-bottom {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12) !important;
}


.mat-figure {
  justify-content: flex-start !important;
}

.red-top-border {
  border-top: 3px solid #F30A37;
}

.orange-top-border {
  border-top: 3px solid #fda040;
}

.green-top-border {
  border-top: 3px solid #83c771;
}

.blue-top-border {
  border-top: 3px solid #00b2da;
}

.action-tool-bar {
  margin: 20px !important;
  background: #fff !important;
  width: 97% !important;
  margin-top: -30px !important;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12) !important;
}

.gt-divider-horizontal {
  border-right: 1px solid #d0d0d0 !important;
  margin: 10px !important;
}

.mat-table mat-row.selected, table tr.selected {
  outline: none !important;
  background: #F3F6F8 !important;
  border-left: 5px outset #F10034;
}

.mat-table-empty {
  border: 1px solid #e0e0e0;
  border-top: none;
  height: 55px;
}

.mat-table-empty-msg {
  position: relative;
  left: 30px;
  top: 12px;
  font-size: 13px;
  color: #989898;
}

.mat-table-empty-icon {
  position: relative;
  left: 20px;
  top: 18px;
  font-size: 22px;
  color: #989898;
}

.badge {
  display: inline-block;
  padding: .5em .7em;
  font-size: 80%;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
  cursor: default;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.badge-raduis {
  border-radius: 27px !important;
}

.badge-secondary {
  color: #000;
  background-color: #b5b5b5;
}

.badge-primary {
  color: #fff;
  background-color: #007bff;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.badge-danger {
  color: #fff;
  background-color: #f10034;
}

.badge-djezzy {
  color: #fff;
  background-color: #FD3F46;
}

.badge-warning {
  color: #212529;
  background-color: #ffc107;
}

.badge-info {
  color: #fff;
  background-color: #17a2b8;
}

.badge-light {
  color: #212529;
  background-color: #f8f9fa;
  border: 1px solid #e9e9e9;
}

.badge-dark {
  color: #fff;
  background-color: #343a40;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-bottom: none;
}

td, th {
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
  padding: 10px 10px 10px 15px;
  font-size: 14px;
  max-height: 20px !important;
}

.table-input {
  border: none !important;
  border-bottom: 1px solid #ddd !important;
  border-radius: 0px !important;
}

.table-input:enabled:focus:not(.ui-state-error) {
  box-shadow: none !important;
  /*-webkit-box-shadow: 0 8px 6px -6px #8dcdff !important;*/
  /*-moz-box-shadow: 0 8px 6px -6px #8dcdff !important;*/
  /*box-shadow: 0 8px 6px -6px #8dcdff !important;*/
}

/*tr:nth-child(even) {*/
/*  background-color: #f9f9f9;*/
/*}*/

.ng-select-table {
  padding: 0px !important;
  width: 200px !important;
}

.card-mat-toolbar {
  background: #f9f9f9;
  color: rgba(0, 0, 0, .87);
  border: 1px solid #e0e0e0;
  border-top: none;
}

.right-headeer-title {
  position: absolute;
  right: 15px;
  border-left: 1px solid #e0e0e0;
  padding-left: 10px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #FD4047;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #FD4047;
}

.p-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -.5em;
  margin-left: -.5em;
  margin-top: 5px;
}

.p-col {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  padding: .5em;
  margin: 5px;
}

.p-grid > .p-col, .p-grid > [class*=p-col] {
  box-sizing: border-box;
}

.mat-calendar-body-label {
  border: none;
}

.mat-calendar-table {
  border: none;
}

.mat-calendar-table-header th {
  border: none;
}

.mat-calendar-body-cell {
  border: none;
}

.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after, .mat-input-element:disabled {
  color: #666666;
}

.mat-radio-button.mat-radio-disabled .mat-radio-label-content {
  color: #777777;
}

.mat-accordion > .mat-expansion-panel-spacing, .mat-accordion > :not(.mat-expansion-panel) .mat-expansion-panel-spacing {
  border-left: 3px solid #FD4047;
  border-radius: 0px 4px 4px 0px;
}

.padding-bottom-25 {
  padding-bottom: 25px
}

.text-center {
  text-align: center;
}

.home-number {
  color: #808080;
  padding: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

p-grid > .p-col, .p-grid > [class*=p-col] {
  box-sizing: border-box;
}

.home-div {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #e5e9f0;
  background-color: #f9fafb;
  padding: 15px;
  width: 100%;
  margin: 12px 0;
}


.summary-box {
  position: relative;
}

.summary-box.summary-box-messages .card {
  border-top: 4px solid #0097a7;
  /*background-color: #00bcd4;*/
}

.summary-box.summary-box-checkins .card {
  border-top: 4px solid #d23234;
  /*background-color: #fe4548;*/
}

.summary-box.summary-box-filessynced .card {
  border-top: 4px solid #f47b08;

}

.summary-box.summary-box-usersonline .card {
  border-top: 4px solid #358e4d;
  /*background-color: #39c55e;*/
}

.summary-box .card {
  min-height: 100px;
}

.card {
  height: 100%;
  margin-bottom: 0;
}

.card {
  /*-webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
  /*-moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .5), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12) !important;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 1.25em;
  margin-bottom: 1em;
  box-sizing: border-box;
  border: 1px solid #e5e9f0;
  background-color: #f9fafb;
}

.summary-box .summary-box-title {
  font-size: 16px;
  margin: 0;
  font-weight: 500;
  color: #4c566a;
}

.summary-box p {
  margin: 0.25em 0;
  color: #4c566a;
}

.summary-box .summary-box-icon {
  position: absolute;
  right: 24px;
  top: 32px;
  color: #4c566a;
}

.summary-box .summary-box-graph {
  position: absolute;
  left: 6px;
  bottom: 8px;
  width: 96%;
}

.mat-menu-panel {
  border-radius: 0px 0px 3px 3px !important;
}

.chart-card {
  border: 1px solid #e5e9f0;
  background-color: #f9fafb;
  padding: 10px;
  border-radius: 4px;
}

.chart-card-title {
  color: #4c566a;
  font-weight: 500;
  width: 100%;
  font-size: 14px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e9f0;
  text-align: center;
}

popover[_ngcontent-c0] {
  display: block;
}

.popover.top {
  margin-top: -10px;
}

.popover {
  position: absolute;
  top: 10 !important;
  left: 0 !important;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  line-break: auto;
}

.bs-popover-top[_ngcontent-c0] .arrow[_ngcontent-c0], .bs-popover-bottom[_ngcontent-c0] .arrow[_ngcontent-c0] {
  left: 50%;
}

.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}

.popover > .arrow {
  border-width: 11px;
}

.popover > .arrow, .popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #ffffff;
  border-radius: 5px 5px 0 0;
}

.popover-content {
  padding: 9px 14px;
}

.confirm-btns[_ngcontent-c0] {
  display: flex;
  justify-content: space-around;
}

.confirm-btn-container[_ngcontent-c0]:not(:last-child) {
  margin-right: 4px;
}

.confirm-btn-container[_ngcontent-c0] {
  flex-basis: 50%;
}

.btn[_ngcontent-c0] {
  transition: none;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.confirm-btn-container[_ngcontent-c0]:not(:first-child) {
  margin-left: 4px;
}

.confirm-btn-container[_ngcontent-c0] {
  flex-basis: 50%;
}

btn[_ngcontent-c0] {
  transition: none;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-danger {
  color: #fff;
  background-color: #E20613;
  border-color: #E20613;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #ff4949;
}

.mat-list-style {
  width: 45%;
  border: 1px solid #e0e0e0;
  margin-top: 15px;
  padding: 10px;
}

.mat-list-items {
  border-bottom: 1px solid #e5e9f0
}

.mat-list-right-items {
  float: right;
  color: #4c566a;
  border-left: 1px solid #e0e0e0;
  padding-left: 15px
}

.red-txt {
  color: #FD4047;
  font-weight: 500;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value{
  background-color: #666;
}
