.crud-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  font-size: 14px;
  padding: 20px;
}

.crud-container > * {
  width: 90%;
}

.card-back-right-btn {
  position: absolute;
  right: 10px;
  border-left: 1px solid #e0e0e0;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 8px;
}


/* .card-back-right-btn:hover {
  border: 1px solid #e0e0e0;
  background-color: #f5f5f5;
} */

.card-back-icon {
  color: #848484;
  font-size: 26px;
  padding-left: 5px;
}

.mat-card-header .mat-card-title {
  font-size: 17px;
  color: #5d5d5d;
}

.mat-card-actions {
  padding: 20px 10px;
}


