<mat-card style="margin: 20px;" class="top-bordred">
  <mat-card-header>
    <mat-card-title>Audite N°: {{auditSite.id}}
      <mat-divider class="margin-top-15"></mat-divider>
    </mat-card-title>
    <div class="right-headeer-title">
      <span class="badge badge-light">Site N° : {{auditSite.siteCode}}</span>
    </div>
  </mat-card-header>
  <mat-tab-group animationDuration="0ms" (selectedTabChange)="tabChange($event)">

    <mat-tab label="Info">
      <div class="flex-center padding-10-bordred view-div"
           style="overflow-x: auto;padding: 0px 10px 0px 50px;overflow-y: hidden">
        <ul class="clr-timeline">
          <li class="clr-timeline-step disabled">
            <div class="clr-timeline-step-header">{{auditSite.auditDate | date:'dd-MM-yyyy h:mm a'}}</div>
            <clr-icon shape="circle" aria-label="Not started"></clr-icon>
            <div class="clr-timeline-step-body">
              <span class="clr-timeline-step-title">Création</span>
              <span class="clr-timeline-step-description">Créer par: <span
                style="text-transform: uppercase">{{auditSite.siteUserV1}}</span>.</span>
            </div>
          </li>

          <li class="clr-timeline-step" *ngFor="let status of this.auditSite.statusAuditSitesDtoList">
            <div
              class="clr-timeline-step-header">{{status.statusDate | date: 'dd-MM-yyyy h:mm a'}}</div>

            <clr-spinner clrMedium aria-label="In progress"
                         *ngIf="!status.last && status.statusId === auditSite.currentSatusId
                                && status.statusLabel !== statusEnum.NoConform && status.current">Fetching data
            </clr-spinner>

            <clr-icon shape="dot-circle" aria-current="true" aria-label="Current"
                      *ngIf="!status.current && status.statusLabel !== statusEnum.NoConform && !status.current"></clr-icon>

            <clr-icon shape="error-standard" aria-label="Error"
                      *ngIf="!status.current
                            && status.statusLabel === statusEnum.NoConform"></clr-icon>

            <clr-icon shape="success-standard" aria-label="Completed"
                      *ngIf="status.last && status.statusId === auditSite.currentSatusId
                            && status.statusLabel !== statusEnum.NoConform "></clr-icon>

            <clr-icon shape="error-standard" aria-label="Error"
                      *ngIf="!status.last && status.statusId === auditSite.currentSatusId
                            && status.statusLabel === statusEnum.NoConform"></clr-icon>

            <div class="clr-timeline-step-body">
              <span class="clr-timeline-step-title">{{status.statusDescription}}</span>
              <span class="clr-timeline-step-description">
             Utilisateur : {{status.username.toUpperCase()}}.
            </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="clr-row" style="margin: 20px;padding-top: 20px;border-top: 1px solid #e9e9e9">
        <div class="clr-col-12 clr-col-sm-12 clr-col-md-6 clr-col-lg-6">
          <mat-form-field class="example-full-width">
            <mat-label>{{'AUDIT_SITE.id' | translate}}</mat-label>
            <input matInput [(ngModel)]="auditSite.id"
                   name="id"
                   readonly>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>{{'AUDIT_SITE.auditDate' | translate}}</mat-label>
            <input matInput [value]="getDateFormat(auditSite.auditDate)"
                   name="dateAudit"
                   readonly>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>{{'AUDIT_SITE.typeAuditSiteLabel' | translate}}</mat-label>
            <input matInput [(ngModel)]="auditSite.typeAuditSiteLabel"
                   name="typeAuditSiteLabel"
                   readonly>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>{{'AUDIT_SITE.siteCode' | translate}}</mat-label>
            <input matInput [(ngModel)]="auditSite.siteCode"
                   name="siteCode"
                   readonly>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>{{'SITE.nomSite' | translate}}</mat-label>
            <input matInput [(ngModel)]="auditSite.siteName"
                   name="siteName"
                   readonly>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>{{'SITE.userV1' | translate}}</mat-label>
            <input matInput [value]="'Ing Site: &ensp;&ensp;' +auditSite.siteUserV1"
                   class="input-style"
                   readonly>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>{{'SITE.engineerOMV1' | translate}}</mat-label>
            <input matInput [value]="'Ing O&M: &ensp;&ensp;'+auditSite.siteUserOMV1"
                   class="input-style"
                   readonly>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>{{'AUDIT_SITE.wilayaId' | translate}}</mat-label>
            <input matInput [(ngModel)]="auditSite.wilayaLabel"
                   name="wilayaId"
                   readonly>
          </mat-form-field>
          <!--          <mat-form-field class="example-full-width">-->
          <!--            <mat-label>{{'AUDIT_SITE.repOwner' | translate}}</mat-label>-->
          <!--            <input matInput [(ngModel)]="auditSite.repOwner"-->
          <!--                   name="repOwner"-->
          <!--                   readonly>-->
          <!--          </mat-form-field>-->
          <mat-form-field class="example-full-width">
            <mat-label>{{'AUDIT_SITE.description' | translate}}</mat-label>
            <textarea matInput [(ngModel)]="auditSite.description"
                      name="description"
                      readonly></textarea>
          </mat-form-field>
        </div>


        <div class="clr-col-12 clr-col-sm-12 clr-col-md-6 clr-col-lg-6 view-div">
          <div style="margin-left: 20px">
            <h5 class="div-title">Première Visite :</h5>
            <mat-form-field class="example-full-width">
              <mat-label>{{'AUDIT_SITE.firstDecisionDate' | translate}}</mat-label>
              <input matInput [value]="getDateFormat(auditSite.firstDecisionDate)"
                     name="firstDecisionDate"
                     readonly>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>{{'AUDIT_SITE.firstDecisionLabel' | translate}}</mat-label>
              <input matInput [(ngModel)]="auditSite.firstDecisionLabel"
                     name="firstDecisionLabel"
                     readonly>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>{{'AUDIT_SITE.firstDecisionEngineerSite' | translate}}</mat-label>
              <input matInput [(ngModel)]="auditSite.firstDecisionEngineerSite"
                     name="firstDecisionEngineerSite"
                     readonly>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>{{'AUDIT_SITE.firstDecisionEngineerOM' | translate}}</mat-label>
              <input matInput [(ngModel)]="auditSite.firstDecisionEngineerOM"
                     name="firstDecisionEngineerOM"
                     readonly>
            </mat-form-field>
            <h5 class="div-title">Deuxième Visite :</h5>
            <mat-form-field class="example-full-width">
              <mat-label>{{'AUDIT_SITE.secondDecisionDate' | translate}}</mat-label>
              <input matInput [value]="getDateFormat(auditSite.secondDecisionDate)"
                     name="secondDecisionDate"
                     readonly>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>{{'AUDIT_SITE.secondDecisionLabel' | translate}}</mat-label>
              <input matInput [(ngModel)]="auditSite.secondDecisionLabel"
                     name="secondDecisionLabel"
                     readonly>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>{{'AUDIT_SITE.firstDecisionEngineerSite' | translate}}</mat-label>
              <input matInput [(ngModel)]="auditSite.secondDecisionEngineerSite"
                     name="secondDecisionEngineerSite"
                     readonly>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>{{'AUDIT_SITE.firstDecisionEngineerOM' | translate}}</mat-label>
              <input matInput [(ngModel)]="auditSite.secondDecisionEngineerOM"
                     name="secondDecisionEngineerOM"
                     readonly>
            </mat-form-field>
          </div>
        </div>

      </div>
    </mat-tab>


    <mat-tab label="Récapitulatif">
      <div *ngIf="tabIndex === 1">
        <app-audit-site-recap [auditSite]="auditSite"></app-audit-site-recap>
      </div>
    </mat-tab>

  </mat-tab-group>
</mat-card>
<div class="padding-bottom-25">
  <mat-toolbar class="action-tool-bar">
    <mat-toolbar-row>
      <button
        type="button"
        mat-raised-button
        (click)="backToList()"
        style="margin-right: 10px"
        class="close-btn">
        <i class="material-icons" style="font-size: 18px">close</i>
        {{'COMMUN.BTN_CLOSE' | translate}}
      </button>

      <button
        type="button"
        (click)="exportToPdf()"
        style="margin-right: 10px"
        class="btn btn-danger-outline btn-icon no-shadow">
        <clr-icon shape="printer"></clr-icon>
        PDF
      </button>
      <ng2-pdfjs-viewer #externalPdfViewer
                        [externalWindow]="true"
                        pagemode="bookmarks"
                        [openFile]="false"
                        [viewBookmark]="false"
                        [download]="false">
      </ng2-pdfjs-viewer>

      <button class="btn btn-success-outline"
              (click)="exportToExcel()"
              style="margin-right: 10px">
        <clr-icon shape="printer"></clr-icon>
        EXCEL
      </button>

      <span class="example-spacer"></span>

      <button
        type="button"
        *ngIf="showNextVisitBtn"
        [disabled]="!disabledSecondVisitBtn()"
        (click)="secondVisit()"
        style="margin-right: 10px"
        class="btn btn-danger-outline btn-icon no-shadow">
        <clr-icon shape="form"></clr-icon>
        Deuxième Visite
      </button>

      <div *ngIf="auditSite.lastStep; else steps">

        <button
          type="button"
          style="margin-right: 10px"
          (click)="proceed()"
          [disabled]="!disabledUpdateBtn()"
          *ngIf="isEngineer"
          class="btn btn-outline btn-icon no-shadow">
          <clr-icon shape="edit"></clr-icon>
          {{'COMMUN.BTN_MODIFIER' | translate}}
        </button>

        <button
          type="button"
          style="margin-right: 10px"
          (click)="goToValidate()"
          [disabled]="!disabledValidateBtn()"
          *ngIf="isEngineer"
          class="btn btn-danger-outline btn-icon no-shadow">
          <clr-icon shape="check"></clr-icon>
          {{'COMMUN.BTN_VALIDATE' | translate}}
        </button>

      </div>

      <ng-template #steps>
        <button type="button"
                class="btn btn-danger-outline"
                (click)="proceed()"
                [disabled]="isCreator"
                style="margin-right: 10px">
          <clr-icon shape="edit"></clr-icon>
          {{'COMMUN.BTN_MODIFIER' | translate}}
        </button>

      </ng-template>

    </mat-toolbar-row>
  </mat-toolbar>
</div>
