<mat-card style="margin: 20px;" class="top-bordred">
  <mat-card-header>
    <mat-card-title>Audite N°: {{auditSite.id}}</mat-card-title>
    <div class="right-headeer-title">
      <span class="badge badge-light">Site N° : {{auditSite.siteCode}}</span>
    </div>
  </mat-card-header>
  <mat-tab-group animationDuration="0ms">


    <mat-tab label="Info">
      <div>
        <mat-list class="mat-list-style">
          <mat-list-item class="mat-list-items">
            <div mat-line><span>Création :</span>
              <span class="mat-list-right-items">{{auditSite.auditDate | date}}</span>
            </div>
          </mat-list-item>
          <mat-list-item class="mat-list-items">
            <div mat-line><span>Première Visite :</span>
              <span class="mat-list-right-items">{{auditSite.firstDecisionDate | date}}</span>
            </div>
          </mat-list-item>
          <mat-list-item class="mat-list-items">
            <div mat-line><span>Deuxième Visite :</span>
              <span class="mat-list-right-items">{{auditSite.secondDecisionDate | date}}</span>
            </div>
          </mat-list-item>
        </mat-list>
        <mat-list class="mat-list-style">
          <mat-list-item *ngFor="let status of this.auditSite.statusAuditSitesDtoList"
                         class="mat-list-items">
            <div mat-line><span [class]="status.statusStyleCSS">{{status.statusLabel}}</span>
              <span class="mat-list-right-items">{{status.statusDate | date}}</span>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-tab>


    <mat-tab label="Récapitulatif">

      <mat-accordion style="margin-top: 50px !important;">
        <mat-expansion-panel *ngFor="let categories of categoriesList">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{categories.id}} - {{categories.label}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <!--          <table style="width:100%">-->
          <!--            <tr>-->
          <!--              <th>{{'AUDIT_SITE.description' | translate}}</th>-->
          <!--              <th>-->
          <!--                {{'AUDIT_SITE.note' | translate}}-->
          <!--              </th>-->
          <!--              <th *ngIf="auditSite.secondVisit">{{'AUDIT_SITE.note' | translate}} 2</th>-->
          <!--              <th>{{'AUDIT_SITE.observation' | translate}}</th>-->
          <!--            </tr>-->


          <!--            <tr *ngFor="let lines of getLines(categories.id)">-->
          <!--              <td style="width: 55%">{{lines.label}}</td>-->
          <!--              <td>-->
          <!--                <div *ngIf="auditSite.firstVisit; else edit">-->
          <!--                  <app-badge-status [label]="lines.firstDecisionLabel"></app-badge-status>-->
          <!--                </div>-->
          <!--                <ng-template #edit>-->
          <!--                  <ng-select-->
          <!--                    [items]="decisionList"-->
          <!--                    bindValue="id"-->
          <!--                    bindLabel="label"-->
          <!--                    [(ngModel)]="lines.firstDecisionId"-->
          <!--                    name="line.firstDecisionId"-->
          <!--                    appendTo="body"-->
          <!--                    class="ng-select-table"-->
          <!--                    *ngIf="auditSite.lastStep"-->
          <!--                  >-->
          <!--                  </ng-select>-->
          <!--                </ng-template>-->

          <!--              </td>-->
          <!--              <td *ngIf="auditSite.secondVisit"> {{lines.secondDecisionLabel}}</td>-->
          <!--              <td> {{lines.observation}}</td>-->
          <!--            </tr>-->
          <!--          </table>-->

          <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container *ngFor="let column of columns; let i = index" matColumnDef="{{ column.field }}">
              <mat-header-cell *matHeaderCellDef>{{ column.field }}

                <button class="grid-view-header-menu"
                        mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>menu</mat-icon>
                </button>

                <mat-menu #menu>
                  <button mat-menu-item (click)="groupBy($event, column);">Group By This Field</button>
                  <button mat-menu-item (click)="unGroupBy($event, column);">Ungroup</button>
                </mat-menu>

              </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row[column.field] }}</mat-cell>
            </ng-container>

            <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            <!-- Group header -->
            <ng-container matColumnDef="groupHeader">
              <mat-cell colspan="999" *matCellDef="let group">
                <mat-icon *ngIf="group.expanded">expand_less</mat-icon>
                <mat-icon *ngIf="!group.expanded">expand_more</mat-icon>
                <strong>{{groupByColumns[group.level - 1]}} = {{group[groupByColumns[group.level - 1]]}}
                  ({{group.totalCounts}})</strong>
              </mat-cell>
            </ng-container>

            <mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup"
                     (click)="groupHeaderClick(row)"></mat-row>

          </mat-table>

        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>

  </mat-tab-group>
</mat-card>
<div class="padding-bottom-25">
  <mat-toolbar class="action-tool-bar">
    <mat-toolbar-row>
      <div *ngIf="auditSite.lastStep; else steps">
        <button
          type="button"
          mat-raised-button
          style="margin-right: 10px"
          [disabled]="auditSite.secondVisit"
          class="add-btn">
          <i class="material-icons" style="font-size: 18px">check</i>
          {{'COMMUN.BTN_VALIDATE' | translate}}
        </button>
      </div>

      <ng-template #steps>
        <button
          type="button"
          mat-raised-button
          (click)="proceed()"
          style="margin-right: 10px"
          class="add-btn">
          <i class="material-icons" style="font-size: 18px"> wrap_text</i>
          {{'COMMUN.BTN_PROCEED' | translate}}
        </button>

      </ng-template>

      <button
        type="button"
        mat-raised-button
        (click)="backToList()"
        style="margin-right: 10px"
        class="cancel-btn">
        <i class="material-icons" style="font-size: 18px">close</i>
        {{'COMMUN.BTN_CANCEL' | translate}}
      </button>
      <span class="example-spacer"></span>
      <button
        type="button"
        mat-raised-button
        class="add-btn"
        (click)="showAdd()"
      >
        <i class="material-icons" style="font-size: 22px;">
          add_circle_outline
        </i>
        Nouveau
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
